func/__pycache__/
.venv/
data/datasets/
c-stuff/data/datasets/
c-stuff/out/
.spack-env/
venv/ 
get-pip.py
spack.lock
spack.yaml
bench_complete_hdf5_test.txt
bench_complete_netcdf4_test.txt
bench_complete_zarr_test.txt
text.txt
func/__pycache__/datastruct.cpython-311.pyc
func/__pycache__/datastruct.cpython-311.pyc
func/__pycache__/datastruct.cpython-311.pyc
test.json
